.bg-gradient {
	background: #4c0f4f; /* Old browsers */
	background: -moz-linear-gradient(left, #4c0f4f 0%, #ad1cb5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4c0f4f 0%,#ad1cb5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4c0f4f 0%,#ad1cb5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c0f4f', endColorstr='#ad1cb5',GradientType=1 ); /* IE6-9 */
}
.img-carona {
	height: 300px;
	width: 100%;
	background-image: url('../img/1.jpeg'); 
	background-size: cover;
	background-position: center;
	filter: opacity(0.5);
	-webkit-filter: opacity(0.5);
}

.img-lar {
	height: 300px;
	width: 100%;
	background-image: url('../img/2.jpeg'); 
	background-size: cover;
	background-position: center;
	filter: opacity(0.5);
	-webkit-filter: opacity(0.5);
}

.bg-gray {
	background-color: #ccc;
}

.bg-sugest {
	background-color: rgb(255, 255, 255);
	height: 150px;
	border: 1px solid rgb(144, 0, 173);
}

.img-estudos {
	height: 300px;
	width: 100%;
	background-image: url('../img/3.jpg'); 
	background-size: cover;
	background-position: center;
	filter: opacity(0.5);
	-webkit-filter: opacity(0.5);
}

.bg-primary-filter{
	background: #4c0f4f;
	height: 300px;
	width: 100%;
	margin-top: 30px; 

}

.title-primary {
	color: #4c0f4f;
}

.title-block {
	position: absolute;
	z-index: 10;
	color: #fff;
	align-items: center;
	margin-top: 120px;
	margin-left: 80px;
}
.text-purple
{
	position: absolute;
	margin-top: 180px;
	color: #fff;
	color: -moz-linear-gradient(left, #4c0f4f 0%, #ad1cb5 100%);
	margin-left: 30%;

}

.bg-filter {
	height: 500px;
	background-color: rgb(255, 255, 255);
	color: #000;
	border: 1px solid rgb(144, 0, 173);
}

.border-login {
	border: 1px solid rgb(144, 0, 173);
}

.mini-img {
	height: 120px;
	width: 120px;
	background-position: center;
	background-size: cover;
	background-image: url('../img/profile.jpg');
}

.profile-img {
	height: 30px;
	width: 30px;
	background-position: center;
	background-size: cover;
	background-image: url('../img/profile.jpg');
}

.mini-img2 {
	height: 120px;
	width: 120px;
	background-position: center;
	background-size: cover;
	background-image: url('../img/profile2.jpg');
}
.mini-img3 {
	height: 120px;
	width: 120px;
	background-position: center;
	background-size: cover;
	background-image: url('../img/profile3.jpg');
}

.parallax {
  /* The image used */
  background-image: url('../img/paralax.jpg');

  /* Full height */
  height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-outline-success:hover {

    color: #fff!important;
    background-color: #b000fe!important;
    border-color: #d83bff!important;
}

.btn-outline-success {

    color: #a728a6!important;
    border-color: #a028a7!important;

}
.chat{
	padding: 15px;
	width: 95%;
	height: 400px;
}
.onMessage{
	display: flex;
}
.onChat{
	width: 100%;
}
.onChat > .onMessage{
	padding: 15px;
}
.yourMessage{
	background-color: rgb(233, 233, 233);
	border: 1px solid rgb(175, 175, 175);
	border-radius: 5px;
	padding: 10px;
	float: left;
}
.myMessage{
	background-color: rgb(215, 126, 233);
	border: 1px solid rgb(144, 0, 173);
	border-radius: 5px;
	padding: 10px;
	float: right;
}
.message{
	position: relative;
	clear: both;
	width: 100%;
}
.submit{
	display: flex;
}